# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# Environment variables
.env

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Hugging Face cache
huggingface_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
notes.txt